.undertopbuttons {
    display: flex;
    gap: clamp(12px, 3vw, 30px);
    justify-content: center;
    padding: clamp(10px, 2vw, 20px);
}

.button {
    font-family: "Roboto mono", monospace;
    font-weight: 100;
    font-style: normal;
    margin-top: 0px;
    font-variation-settings: 
        "wdth" 100;
    
    padding: clamp(10px, 1.5vw, 15px) clamp(20px, 3vw, 30px);
    border-radius: 50px;
    background-color: transparent;
    color: transparent;
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: bold;

    display: inline-block;

    animation: 
        fadeInText 0.7s ease-in-out 1.2s forwards,
        fadeInButton 0.7s ease-in-out 1s forwards;
    transform: scale(1) translateY(0);
}

.button:hover {
    transform: scale(1.03) !important; 
}

.button:active {
    transform: scale(0.95) !important;
}

@keyframes fadeInText {
    from {opacity: 0;
    background-color: transparent;
}
    to {opacity: 1;
    color: #FFFFFF;}    
}

@keyframes fadeInButton {
    from {opacity: 0;
    background-color: transparent;
    transform: translateY(30px);}
    to {opacity: 1;
    background-image: linear-gradient(90deg, #ff60ff, #00FFFF);
    transform: translateY(0px);}    
}